.grid-stack {
    min-height: 45vh !important;
    max-height: 45vh !important;
  }
  #grid0{
    min-height: 35vh !important;
    max-height: none !important;
  }
  .grid-stack-item-removing {
    opacity: 0.5;
  }
  .trash {
    height: 70px;
    background: #FF4E50 url('https://api.iconify.design/octicon-trashcan.svg') no-repeat center center / contain;
  }
  .reset {
    height: 70px;
    background: #F9D423 url('https://api.iconify.design/entypo:reply-all.svg') no-repeat center center / contain;
  }

  .textbar {
    background: rgba(214, 221, 214, 0.1);
    height: 150px;
    padding: 25px 0;
    text-align: center;
  }
  .textbar .grid-stack-item {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    z-index: 10;
    background: rgba(0, 255, 0, 0.1);
    cursor: default;
    display: inline-block;
  }

  .grid-stack-item:hover{
    cursor: move !important;
  }

  .disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }

  /* Optional styles for demos */
  .btn-primary {
    color: #fff;
    background-color: #007bff;
  }

  .btn {
    display: inline-block;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }

  .grid-stack {
    background: lightgoldenrodyellow;
  }

  .grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
  }

  html,
body {
margin: 0;
padding: 0;
background: #5d676c;
font-family: 'Open Sans', sans-serif;
}

.l-site {
margin: 0 auto;
max-width: 1600px;
position: relative;
z-index: 1;
}
.l-site:before {
content: "";
position: fixed;
top: 0;
left: 0;
bottom: 0;
width: 50%;
display: block;
background: #3a4043;
z-index: 1;
}

.l-page {
position: relative;
margin-left: 240px;
background: #fff;
z-index: 2;
box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
-webkit-transition: 0.35s;
-moz-transition: 0.35s;
transition: 0.35s;
}

.l-nav {
position: absolute;
width: 240px;
display: block;
background: #3a4043;
top: 0;
bottom: 0;
left: 0;
z-index: 3;
}

.band h1 {
margin: 0;
padding: 0 0 10px;
color: #fff;
font-size: 32px;
}
.band p {
margin: 0;
padding: 0;
color: #fff;
font-size: 17px;
}

.band-container {
left: 0;
right: 0;
margin: 0 auto;
min-height: 85vh;
max-width: 960px;
display: table;
position: relative;
padding: 0 3em;
}

.band-inner {
display: table-cell;
vertical-align: middle;
padding: 1em 0;
}

.band-a {
background: #69D2E7;
}

.band-b {
background: #F9D423;
}

.band-c {
background: #F38630;
}

.band-d {
background: #FF4E50;
}

.nav {
width: 225px;
position: fixed;
top: 0;
bottom: 0;
margin: 0;
padding: 30px;
overflow: auto;
padding-bottom: 0px !important;
}
.nav ul {
margin: 0;
padding: 0;
list-style: none;
}
.nav li {
margin: 0;
padding: 0;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
transition: 0.25s;
}
.nav a{
color: #fff;
text-decoration: none;
font-size: 20px;
font-weight: 800;
display: block;
padding: 10px 0;
}
.nav p{
color: #fff;
text-decoration: none;
font-size: 20px;
font-weight: 800;
display: block;
}
.nav .nav-primary {
opacity: 1;
}
.nav .nav-primary:hover {
opacity: 0.7;
}
.nav .nav-secondary {
opacity: 0.4;
}
.nav .nav-secondary:hover {
opacity: 0.7;
}

.menu {
display: none;
position: fixed;
top: 25px;
left: 1.5em;
width: 24px;
height: 24px;
cursor: pointer;
z-index: 10;
}
.menu:hover .menu-hamburger:before,
.menu:hover .menu-hamburger:after {
width: 24px;
}
.menu.is-active .menu-hamburger {
background: none;
}
.menu.is-active .menu-hamburger:before,
.menu.is-active .menu-hamburger:after {
top: 0;
width: 24px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.menu.is-active .menu-hamburger:after {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.menu.is-active .menu-hamburger:hover {
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

.menu-hamburger {
position: relative;
width: 24px;
height: 4px;
margin: 10px 0;
background: #fff;
border-radius: 4px;
transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before, .menu-hamburger:after {
content: '';
display: block;
width: 24px;
height: 4px;
background: #fff;
position: absolute;
border-radius: 4px;
transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu-hamburger:before {
top: -8px;
left: 0;
width: 22px;
}
.menu-hamburger:after {
top: 8px;
width: 16px;
left: 0;
}

#author {
float:right;
padding-top:15px;
}

#warning {
  display:none;
}

@media screen and (max-width: 980px) {
#warning {
  display:block;
}

.menu {
  display: block;
}

.l-site.is-open {
  overflow: hidden;
}
.l-site.is-open .l-page {
  -webkit-transform: translateX(240px);
  -moz-transform: translateX(240px);
  -ms-transform: translateX(240px);
  -o-transform: translateX(240px);
  transform: translateX(240px);
}

.l-page {
  margin-left: 0;
  z-index: 3;
}

.l-nav {
  z-index: 2;
}

.band-container {
  padding: 0 1.5em;
}
}